

@font-face {
    font-family: 'W95';
    src: url(./assets/W95FA/W95FA.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
    font-size: normal;
}



/* Defining global variables */
:root {
    --bg-color: #008080;
    --header: #0827f5;
    --menu-primary: #c3c3c3;
    --menu-lighter: #fdffff;
    --menu-darker: #818181;
    --error: #ff0081;
  }

  body {
    background-color: var(--bg-color);
    font-family: W95;
    font-size: 1.25rem;
  }