@font-face {
  font-family: "W95";
  src: url(./assets/W95FA/W95FA.otf) format("opentype");
  font-weight: normal;
  font-style: normal;
  font-size: normal;
}

/* Defining global variables */
:root {
  --bg-color: #008080;
  --header: #0827f5;
  --menu-primary: #c3c3c3;
  --menu-lighter: #fdffff;
  --menu-darker: #818181;
  --error: #ff0081;
}

p {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color);
  font-family: W95;
  font-size: 1.25rem;
  margin: 0;
}

.button {
  border-width: 3px;
  background-color: var(--menu-primary);
  border-top-color: var(--menu-lighter);
  border-left-color: var(--menu-lighter);
  border-bottom-color: var(--menu-darker);
  border-right-color: var(--menu-darker);

  padding: 0.3rem 0.7rem;
  margin: 0.3rem;

  cursor: pointer;
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 0.75em;
}

.button-pressed {
  background-color: var(--menu-primary);
  border-top: solid 3px black;
  border-left: solid 3px black;
  border-bottom: solid 3px white;
  border-right: solid 3px white;

  padding: 0.3rem 0.7rem;
  margin: 0.3rem;

  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.75em;
}

.app-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  /*
  align-items: center;
  justify-content: center;
  */
}

/* Navbar styles */

.nav-navbar {
  width: 100%;

  display: flex;
  align-items: center;
  border-top: solid 3px var(--menu-lighter);
  background-color: var(--menu-primary);
  z-index: 1;
  flex: 0 0 auto;
}

.nav-menu-underlay {
  background-color: pink;
  opacity: 0;
  width: 100vh;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.nav-menu-container {
  z-index: 3;
  width: 260px;
  height: 380px;
  position: absolute;
  bottom: 35px; /* Places the menu above the navbar */
  left: 0; /* Aligns the menu with the left edge of the screen */
  background-color: var(--menu-primary);
  border-top: solid 3px var(--menu-lighter);
  border-left: solid 3px var(--menu-lighter);
  border-bottom: solid 3px black;
  border-right: solid 3px black;
  display: flex;
  flex-direction: row;
}

.nav-menu-item-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.nav-menu-item {
  display: block;
  text-decoration: none;
  padding: 8px 0;
  color: black;
  padding: 12px;
}

.nav-menu-item:hover {
  color: white;
  background-color: var(--header);
}

.nav-menu-side-header {
  color: white;
  background-color: var(--menu-darker);
  writing-mode: vertical-lr;
  transform: rotateZ(180deg);
  padding: 0.25em;
  padding-bottom: 0.5em;
}

.page-wrapper {
  flex: 1 0 auto; /* Grow, don't shrink*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-container {
  border-top: solid 0.2rem var(--menu-lighter);
  border-left: solid 0.2rem var(--menu-lighter);
  border-bottom: solid 0.2rem black;
  border-right: solid 0.2rem black;

  max-width: 60%;
  width: 90%;
  padding: 0.2rem;
  background-color: var(--menu-primary);
}

.page-header {
  background-color: var(--header);
  color: white;
  padding: 0.2rem;
  padding-left: 0.6rem;
}

.page-header-icon {
  height: 1.2rem;
  margin-right: 0.8rem;
}
.resume-menu {
  display: flex;
  flex-direction: row;
  padding: 0.4rem;
  margin-left: 1rem;
}

.resume-content-wrapper {
  display: flex;
  flex-direction: column;
}

.resume-menu-item {
  margin-right: 1.2rem;
  font-size: 1.1rem;
}

.resume-content {
  background-color: white;
  height: 75vh;
  overflow-y: auto;
  flex: 1 0 auto; /* Grow, don't shrink*/
  padding: 1.5rem;
  padding-left: 8rem;
  padding-right: 8rem;
  border-top: solid 0.2rem black;
  border-left: solid 0.2rem black;
  border-bottom: solid 0.2rem white;
  border-right: solid 0.2rem white;
}

.resume-item {
  margin-bottom: 1rem;
}

.resume-item-info {
  display: flex;
  flex-direction: row;
  font-size: 1.1rem;
}

.resume-item-header {
  font-size: 1.7rem;
  font-weight: lighter;
  margin-bottom: 1rem;
}
.resume-item-title {
font-size: 1.5rem;
font-weight: bold;
margin-bottom: 0.2rem;
}
.resume-item-org {
margin-right: 1rem;
}
.resume-item-location {
  margin-left: 1rem;
  margin-right: 1rem;
}
.resume-item-date{
  margin-left: 1rem;
}

.resume-item-description {  
  padding: 0.4rem;  
  margin-top: 0.4rem;
  margin-left: 1.5rem;
}


@media screen and (max-width: 600px) {
  .page-container {
    max-width: 100%;
  }
  
  .resume-content {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
}